body {
    margin: 0;
    font-family: Arial, sans serif;
    color: #333;
    background: #fff;
}

a {
    color: #d56;
}

header {
    margin: 0;
    padding: 1px 2em;
    background: #222;
    color: #777;
}

header h1 {
    font-size: 2.4em;
    font-weight: normal;
    color: #fff;
}

header a {
    color: #f78;
    text-decoration: none;
}

main {
    padding: 1px 2em;
    max-width: 960px;
}

footer {
    margin-top: 3em;
    padding: 1px 2em;
    color: #aaa;
}

.divider {
    width: 20em;
    height: 0;
    border-top: solid 1px #ccc;
}

footer a {
    color: #777;
}

.page img {
    border: solid 4px #ccc;
}

.manifesto {
    font-family: Georgia, serif;
}

br.page-break {
    font-size: 0;
    line-height: 0;
    height: 0;
}