body {
    margin: 0;
    font-family: Arial, sans serif;
    color: #333;
    background: #fff;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

a {
    color: #d56;
}

header, main, footer {
    padding-left: 1em;
    padding-right: 1em;
}

header {
    margin: 0;
    background: #222;
    padding-top: 1px;
    padding-bottom: 1px;
    color: #777;
}

header h1 {
    font-size: 2.4em;
    font-weight: normal;
    color: #fff;
}

header a {
    color: #f78;
    text-decoration: none;
}

footer {
    margin: 5em 0;
    color: #aaa;
}

.divider {
    max-width: 20em;
    height: 0;
    border-top: solid 1px #ccc;
}

footer a {
    color: #777;
}

.page img {
    border: solid 4px #ccc;
}

.manifesto {
    clear: both;
}

br.page-break {
    font-size: 0;
    line-height: 0;
    height: 0;
}

.top {
    padding: 1px 1em;
    margin: 0 -1em;
}

.middle {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.top .middle {
    padding-top: 1em;
}

.top .cover-page-container {
    display: block;
    max-width: 400px;
    box-shadow: 0.5em 0.5em 0 #222;
    margin: 0 auto 2.5em;
}

.top .cover-page {
    display: block;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .top .cover-page-container {
	float: left;
	width: 50%;
	margin-right: 2.5em;
    }

    .top .middle {
	padding-top: 2em;
    }
}

.top p {
    margin-top: 0;
    margin-bottom: 2em;
}

.manifesto-description {
    font-size: 1.3em;
    margin-bottom: 2em;
}

.manifesto-text {
    max-width: 800px;
    margin-bottom: 10em;
}

.page-anchor-container {
    text-align: right;
}

.page-image-container {
    position: relative;
    display: block;
    margin: 1em auto;
    max-width: 800px;
    border: solid 1px #ccc;
}

.page-image {
    display: block;
    width: 100%;
}

.page-image-container .page-anchor-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5em 1em;
}
