<!doctype html>
<html lang="en">
  <head>
    <title>{{name}} | manifestos.org.uk</title>
    {{> head}}
  </head>
  <body>
    <header>
      <p><a href="/">manifestos.org.uk</a> / <a href=".">{{id}}</a></p>
      <h1>{{name}}</h1>
    </header>
    <main>
      {{{contents}}}
      <h2>Manifestos</h2>
      <ul>
	{{#each ancestry.members}}
	{{#unless @first}}
	<li><a href="{{link.from ancestry.parent}}">{{name}}</a></li>
	{{/unless}}
	{{/each}}
      </ul>
    </main>
    {{> footer}}
  </body>
</html>

