<!doctype html>
<html lang="en">
  <head>
    <title>{{name}} on manifestos.org.uk</title>
    {{> head}}
    <style>
      a.party-colors {
        color: {{party_color}};
      }
      div.party-colors {
        color: {{party_color_text}};
        background-color: {{party_color}};
      }
      div.party-colors a {
        color: {{party_color_text}};
      }
    </style>
    <script src="/assets/imgix.min.js" async=""></script>
    <script src="/assets/lazysizes.min.js"></script>
    <script>
      imgix.config.srcAttribute = 'data-src';
      imgix.config.srcsetAttribute = 'data-srcset';
      imgix.config.sizesAttribute = 'data-sizes';
    </script>
  </head>
  <body>
    <header>
      <div class="middle">
	<p>
	  <a class="party-colors" href="/">manifestos.org.uk</a> /
	  <a class="party-colors" href="/{{path.dir}}">{{path.dir}}</a> /
	  <a class="party-colors" href="">{{path.name}}</a>
	</p>
	<h1>{{name}}</h1>
      </div>
    </header>
    <main>
      <div class="top party-colors">
	<div class="middle">
	  <div class="cover-page-container">
	    <img class="cover-page" src="{{page_image_url}}cover-page.jpg?w=400"/>
	  </div>
	  {{#if description}}<p class="manifesto-description">{{description}}</p>{{/if}}
	  <p>
	    Scroll down to <a href="{{#if special_pages_front}}#{{special_pages_front.[0]}}{{else}}#page-1{{/if}}">read the full text</a> of the manifesto in a web-friendly format (recommended for mobile).
	    Or <a href="{{#if special_pages_front}}#{{special_pages_front.[0]}}-original{{else}}#page-1-original{{/if}}">view the document as printed</a> with no need to download.
	    Or if you prefer you can <a href="{{mirror}}">download the original PDF</a>.
	  </p>
	</div>
      </div>
      <div class="middle manifesto-text">
	{{{numbered_pages}}}
      </div>
      <div class="middle manifesto-images">
	{{#repeat count=number_pages start=1}}
	<div class="page-image-container">
	  <img class="page-image lazyload" id="page-{{@index}}-original" src="{{page_image_url}}page-2.jpg?w=800" ix-src="{{page_image_url}}page-{{@index}}.jpg?w=800&auto=format,compress" sizes="100vw"/>
	  <p class="page-anchor-container">
	    <a href="#page-{{@index}}-original">Page {{@index}}</a>
	    &ndash; <a class="text-version" href="#page-{{@index}}">Text version</a>
	    &ndash; <a class="share-twitter" href="https://twitter.com/intent/tweet?url={{uriencode 'https://manifestos.org.uk'}}{{uriencode '#page-'}}{{@index}}{{uriencode '-original'}}&via=uk_manifestos">Tweet</a>
	  </p>
	</div>
	{{/repeat}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>
