<!doctype html>
<html lang="en">
  <head>
    <title>{{name}} on manifestos.org.uk</title>
    {{> head}}
    <style>
      a.party-colors {
        color: {{party_color}};
      }
      div.party-colors {
        color: {{party_color_text}};
        background-color: {{party_color}};
      }
      div.party-colors a {
        xbackground-color: {{party_color_text}};
        color: {{party_color_text}};
      }
    </style>
  </head>
  <body>
    <header>
      <div class="middle">
	<p>
	  <a class="party-colors" href="/">manifestos.org.uk</a> /
	  <a class="party-colors" href="/{{path.dir}}">{{path.dir}}</a> /
	  <a class="party-colors" href="">{{path.name}}</a>
	</p>
	<h1>{{name}}</h1>
      </div>
    </header>
    <main>
      <div class="top party-colors">
	<div class="middle">
	  <img class="cover-page" src="{{page_image_url}}cover-page.jpg?w=400"/>
	  {{#if description}}<p class="manifesto-description">{{description}}</p>{{/if}}
	  <p>
	    Scroll down to <a href="{{#if special_pages_front}}#{{special_pages_front.[0]}}{{else}}#page-1{{/if}}">read the full text</a> of the manifesto in a web-friendly format (recommended for mobile).
	    Or <a href="{{#if special_pages_front}}#{{special_pages_front.[0]}}-image{{else}}#page-1-image{{/if}}">view the document as printed</a> with no need to download.
	    Or if you prefer you can <a href="{{mirror}}">download the original PDF</a>.
	  </p>
	</div>
      </div>
      <div class="middle manifesto-text">
	{{{numbered_pages}}}
      </div>
      <div class="middle manifesto-images">
	{{#repeat count=number_pages start=1}}
	<img id="page-{{@index}}-image" src="{{page_image_url}}page-{{@index}}.jpg?w=100"/>
	{{/repeat}}
      </div>
    </main>
    {{> footer}}
  </body>
</html>
