<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}manifestos.org.uk{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/includes/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>
    <main>
      {% block main %}{% endblock %}
    </main>
    <footer>
      <div class="divider"></div>
      <p>
	<a href="http://manifestos.org.uk">manifestos.org.uk</a>
	is an <a href="https://github.com/maxspencer/manifestos.org.uk">open source project</a>
	by <a href="https://twitter.com/maxspencer">Max Spencer</a>
      </p>
    </footer>
    {% block body_end %}{% endblock %}
  </body>
</html>
