{% extends "base.html" %}

{% block title %}manifestos.org.uk / {{ election.id }} / {{ manifesto.id }}{% endblock %}

{% block header %}
<p>
  <a href="/">manifestos.org.uk</a> /
  <a href="/{{ election.id }}">{{ election.id }}</a> /
  <a href="/{{ election.id }}/{{ manifesto.id }}">{{ manifesto.id }}</a>
</p>
<h1>{{ manifesto.get("name", manifesto.id) }}</h1>
{% endblock header %}

{% block main %}

<p>
  Source: <a href="{{ manifesto.source }}">{{ manifesto.source }}</a>
  (<a href="{{election.id}}-{{manifesto.id}}-manifesto.pdf">mirror</a>)
</p>

{% for i in range(page_count) %}
<p class="page">
  <img src="images/{{election.id}}-{{manifesto.id}}-manifesto-page-{{i+1}}.png"/>
</p>
{% endfor %}
  
{% endblock main %}
